/* Pc */
@media (min-width: 64em ){
    .PC{
        display: block;
    }
}

/* taplet và mobile */
@media (max-width: 63.9375em) {
    .btn {
        padding: 17px 15px;
    }
    .contact-from .from-control {
        padding: 15px;
        font-size: 16px;
    }

    .contact-info {
        line-height: 2.2;
    }

    #footer .socials-list {
        font-size: 32px;
    }
    #footer .socials-list i {
        
        padding: 8px;
    }
    #footer .copyright a {
        padding: 16px 0;
        display: inline-block;
    }

}
/* taplet */
@media (min-width: 46.25em) and (max-width: 63.9375em){
    .taplet{
        display: block;
    }
}
/* mobile */
@media (max-width: 46.1875em) {
    .s-col-full {
        width: 100%;
    }
    .s-mt-8 {
        margin-top: 8px;
    }
    #header {
        overflow: hidden;
    }
    #header .search-btn {
        display: none;
    }
    #header .mobile-menu {
        display: block;
    }

    #nav .subnav {
        background: #000;
        position: inherit;
    }

    #nav .subnav a {
        color: #fff;
        padding: 5px 39px;
    }

    #nav{
        display: block;
    }

    #nav > li{
        display: block;
        border: 1px solid #ccc;
    }
    #conten .member-img {
        width: 60%;
    }

    .contact-from {
        margin-top: 32px;
    }
    .btnsend{
        font-size: 16px;
    }
    
}